* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.header {
  background: #f6f6f9;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
}

.container .header-top,
.container .header-center {
  margin-bottom: 20px;
}

.container .header-left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header-left-side-one {
  display: flex;
}

.container .header-left-side-one .texts {
  display: flex;
  margin: 0 0 0 50px;
}

.container .header-left-side-one .texts .values {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #515151;
}

.container .header-left-side-one .texts .blue::first-letter {
  margin-left: 10px;
  font-weight: 700;
  color: #295091;
}

/* .container .header-sides .header-left-side .texts p:nth-of-type(3) {
  margin-left: 0;
} */

.container .header-left-side-two .tg {
  background: #1e96c8;
  padding: 11px 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.fa-telegram {
  margin-right: 5px;
}

.container .header-center-nav {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  padding: 21px 25px;
}

.container .header-center-nav .header-center-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header-center-nav-items .header-center-nav-item {
  list-style-type: none;
}

.container
  .header-center-nav-items
  .header-center-nav-item
  .header-center-nav-links {
  color: #515151;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
}

.container .header-footer {
  background: url('../img/nrg-banner.jpg');
  width: 100%;
  height: 99px;
}

/* MAIN */
.main {
  margin-top: 22px;
}

.main .container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
}

.form-heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 12px;
  color: #000000;
}

.form-input {
  width: 600px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
}

.form-msg {
  width: 600px;
  height: 307px;
  resize: none;
}

.form-input,
.form-msg,
.form-password {
  background-color: #f1f1f1;
  border: 2px solid #285193;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-file {
  margin-bottom: 20px;
}

.form-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-msg {
  padding: 10px;
}

.form-password {
  width: 221px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
}

.form-img {
  margin-left: 18px;
}

.form-btn {
  background: #295093;
  color: #fff;
  border: 2px solid rgba(40, 81, 147, 0.54);
  border-radius: 5px;
  padding: 15px 61px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.form-input:focus,
.form-msg:focus,
.form-password:focus,
.form-btn:focus {
  outline: none;
}

input {
  display: block;
}

.form-right {
  border-radius: 5px;
  width: 510px;
}

.form-shadow {
  box-shadow: 0px 8px 9px rgba(57, 57, 57, 0.25);
  border-radius: 5px;
  padding: 23px 20px;
}

.form-right-img {
  display: block;
  margin-left: auto;
}

.form-list {
  background-color: #fff;
  align-items: center;
  flex-direction: row;
  justify-content: left;
}

.form-list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  list-style-type: none;
}

.form-list-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
  color: #888888;
}

.form-right-btn {
  background-color: #295091;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.form-right-span {
  margin-left: 8px;
}

.form-list-img {
  margin-left: 15px;
}
